<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915645378020-o939aq8lss7em8ov1p4fec26aljrn4d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915645378020-o939aq8lss7em8ov1p4fec26aljrn4d9</string>
	<key>API_KEY</key>
	<string>AIzaSyCw1_Ma0Q1TFqBB0nBqulbHJhjKqrdvJc0</string>
	<key>GCM_SENDER_ID</key>
	<string>915645378020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Thomas.Howard.WorkoutBuddy</string>
	<key>PROJECT_ID</key>
	<string>workoutbuddy-4b048</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutbuddy-4b048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915645378020:ios:c3ba30c0b7007b5be26bf1</string>
</dict>
</plist>